.main-title {
  /* display: flex; */
  /* justify-content: center; */
  padding: 40px;
  text-align: center;
}

.dashboard-container {
  display: flex;
  justify-content: center;
  margin: 30px 0px;
}

.center-img-container {
  text-align: center;
}

.start-game {
  /* text-align: center; */
}

.start-game button {
  border: 1px #2c98c7 solid;
  background-color: rgb(184, 101, 33);
  padding: 7px 10px;
  border-radius: 20px;
  padding: 20px;
}
